<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Sign in</h4>
      </div>
      <div>
        <p style="color: red" *ngIf="InvalidUser">Enter valid credentials</p>
      </div>
      <div padding>
        <ion-item>
          <ion-input type="text" placeholder="Username" name="email" [(ngModel)]="emailID" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
      </div>
      <div padding>
        <ion-button id="login" (click)="login()" expand="block">Login</ion-button>
      </div>
      <div padding>
        <ion-button  href="/register" expand="block">Sign up</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
