
.ion-margin-top{
  margin-top: 9em;
}
.timesFontStyle{
  font-family: Georgia, serif;
  color: #00BCD4;
  font-style: italic;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
}
