<ion-header>
  <ion-toolbar color="secondary">
    <ion-label padding>Dashboard
      <ion-icon name="power" class="float-right" size="large" (click)="logout()" ></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor=" let courses of courses">
   <!-- <ion-card-header color="primary">
      <h5>Attendance: {{courses.attendance}}</h5>
    </ion-card-header>-->
    <ion-card-content>
      <br/>
      <ion-card-title>{{courses.stream}}</ion-card-title>
      <p>  {{courses.coursecode}}</p>
      <p> {{courses.semesteryear}}</p>

      <!--<ion-button (click)="scanCode()"  expand="block">Checkin</ion-button>-->
      <ion-chip color="secondary" (click)="takeAttendance()">
        <ion-label>Take Attendance</ion-label>
      </ion-chip>
      <ion-chip color="secondary" (click)="getReport()" >
        <ion-label>View Reports</ion-label>
      </ion-chip>

      <!-- <div padding>
         <ion-button (click)="getReport()" expand="block">Report</ion-button>
       </div>-->
    </ion-card-content>
  </ion-card>
</ion-content>
