<!--
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Dashboard
    <ion-icon name="power" class="float-right" size="large" (click)="logout()" ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor=" let courses of courses">
    <ion-card-header color="primary">
     <h5>Attendance: {{courses.attendance}}</h5>
    </ion-card-header>

    <ion-card-content>
    <br/>
      <ion-card-title>{{courses.stream}}</ion-card-title>
        <p>  {{courses.coursecode}}</p>
        <p> {{courses.semesteryear}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
-->


Please refer attendance-scanner components for dashboard
